@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos al Hospital Isidro Ayora</h1>
    
    <!-- Aquí se coloca la imagen -->
    <img src="~/Images/Hospital.jpg" alt="Nuestro Hospital" width="600" height="400" />

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>