@model CitasMedicas.Models.Paciente

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Paciente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CedulaPaciente" class="control-label"></label>
                <input asp-for="CedulaPaciente" class="form-control" />
                <span asp-validation-for="CedulaPaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombrePaciente" class="control-label"></label>
                <input asp-for="NombrePaciente" class="form-control" />
                <span asp-validation-for="NombrePaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNacimientoPaciente" class="control-label"></label>
                <input asp-for="FechaNacimientoPaciente" class="form-control" />
                <span asp-validation-for="FechaNacimientoPaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorreoPaciente" class="control-label"></label>
                <input asp-for="CorreoPaciente" class="form-control" />
                <span asp-validation-for="CorreoPaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelefonoPaciente" class="control-label"></label>
                <input asp-for="TelefonoPaciente" class="form-control" />
                <span asp-validation-for="TelefonoPaciente" class="text-danger"></span>
            </div>
            <input type="hidden" name="UsuarioId" value="@(Model.UsuarioId)" />
@*             <div class="form-group">
                <label asp-for="UsuarioId" class="control-label"></label>
                <select asp-for="UsuarioId" class="form-control" asp-items="ViewBag.UsuarioId"></select>
                <span asp-validation-for="UsuarioId" class="text-danger"></span>
            </div> *@
            @* <div class="form-group">
                <label asp-for="EdadPaciente" class="control-label"></label>
                <input asp-for="EdadPaciente" class="form-control" />
                <span asp-validation-for="EdadPaciente" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
